@charset "utf-8";

.home_title {
  font-size: 72px;
}
.booking_input_container > div {
}
.booking_input_container > div:first-child,
.booking_input_container > div:nth-child(2) {
  width: 50%;
}
.booking_input_container > div:nth-child(3),
.booking_input_container > div:nth-child(4) {
  width: 50%;
}
.booking_input_container > div:not(:last-of-type) {
  margin-bottom: 10px;
}
.home_title {
  font-size: 56px;
}
.book_button {
  display: none;
}

.home_title {
  font-size: 40px;
}
.booking_input {
  height: 40px;
}
.home_container {
  z-index: 10;
  top: 55%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.booking_button {
  width: 125px;
  height: 44px;
}
